{% extends 'base.html' %}
{% load mptt_tags %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-lg-9 order-1  mb-5">
                <article class="deal-section-single p-3 mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product-box__image">
                                {% if deal.image %}
                                <img src="{{ deal.image.url }}" alt="{{ deal.name }}" class="img-fluid">
                                {% else %}
                                <img src="http://placehold.it/250x250" alt="product image" class="img-fluid">
                                {% endif %}
                            </div>
                            <button type="button" class="btn btn-outline-own my-2"><a href="{{ deal.link_to_shop }}" target="_blank">К скидке <i class="fas fa-external-link-alt"></i></a></button>
                        </div>
                        <div class="col-md-8">
                            <div class="product-box__desc">
                                <h1>{{ deal.name }}</h1>
                                <div class="mb-2">
                                    <span class="sale-price">{{ deal.price }} <i class="fas fa-ruble-sign"></i></span>
                                    <span class="regular-price">{{ deal.oldprice }} <i class="fas fa-ruble-sign"></i></span>
                                    <span class="product-box__sticker">{{ deal.discount_procent }}%</span>
                                    <span class="deal-shop">от <a href="#"> {{ deal.shop }}</a></span>
                                </div>
                                <div class="mb-2 pb-2 d-flex">
                                    <span class="author-deal flex-fill"><a href="#"> <i class="fas fa-user-edit"></i> {{ deal.author }}</a></span>
                                    <span class="deal-post-date flex-fill"><i class="far fa-calendar-alt"></i> {{ deal.create|date:"d.m.Y (H:i)" }}</span>
                                    {% with comments.count as total_comments %}
                                        <span class="deal-comments ml-3 flex-fill"><a href="#"><i class="far fa-comments"></i> ({{ total_comments }})</a></span>
                                    {% endwith %}
                                </div>
                                <div>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="deal-desc my-3">
                        {{ deal.description|safe }}
                    </div>
                    <div class="deal-footer border-top d-flex align-items-end">
                        Share links | Beitrag melden
                    </div>
                </article>
                {% for comment in comments %}
                <article class="deal-section-single deal-comments p-3 mb-1">
                    <div class="row">
                        <div class="col-md-12" data-id="{{ comment.id }}">
                            <div class="comment-box__image border-bottom pb-1">
                                <img src="http://placehold.it/40x40" alt="product image" class="img-fluid rounded-circle">
                                <span class="author-deal ml-2"><a href="#">{{ comment.author.username }}</a></span>
                                <span class="deal-post-date ml-2"><i class="far fa-clock"></i> {{ comment.created|timesince }} <small class="text-muted">назад</small> </span>
                                <a class="like_comment float-right" data-id="{{ comment.id }}" href="#"><i class="far fa-thumbs-up"></i> <span class="counter_like_{{ comment.id }}">{{ comment.like }}</span></a>
                            </div>
                            <div class="comment-text pt-2">
                                {{ comment.body|safe }}
                            </div>
                        </div>
                    </div>
                </article>
                {% empty %}
                    <article class="deal-section-single deal-comments p-3 mb-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="not_comments text-center">
                                <span><i class="fas fa-comment-slash"></i> Что ты думаеш о {{ deal.name }}</span>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}
                <article class="deal-section-single deal-comments p-3">
                        <div class="col-md-12">
                        {% if new_comment %}
                            <h2>Твой комментарий был опубликован!</h2>
                        {% else %}
                            <p>Твоё мнение:</p>
                            <div class="row">
                            <div class="form__group col-12">

                               <form action="." method="post">
                                    {{ comment_form.body }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn comment-btn">Submit</button>
                                </form>

                             </div>
                            </div>
                        {% endif %}
                        </div>
                </article>
            </div>
            <aside class="col-lg-3 order-2">
                <!-- Category -->
                <div class="category-sidebar">
                <div class="section-title section-title--3 ">
                    <h3>Категории</h3>
                </div>
                <ul class="list-group list-group-flush">
                  {% for category in categories %}
                    <li class="list-group-item"><a href="#">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
                </div>
                <!-- Hot Deals -->
                <div class="deals-slide_sidebar mt-3">
                <div class="section-title section-title--3 mb-2">
                    <h3>Похожие</h3>
                </div>
                    <div class="single-recent-post d-flex align-items-center">
                        <a href="" class="single-recent-post__thumb">
                            <img src="http://placehold.it/60x60" alt="Blog Thumb">
                        </a>
                        <div class="single-recent-post__content">
                            <a href="" class="single-recent-post__title">This Is Second Post For XipBlog</a>
                            <a href="" class="single-recent-post__date">26 September, 2018</a>
                        </div>

                    </div>
                    <div class="single-recent-post d-flex align-items-center">
                        <a href="" class="single-recent-post__thumb">
                            <img src="http://placehold.it/60x60" alt="Blog Thumb">
                        </a>
                        <div class="single-recent-post__content">
                            <a href="" class="single-recent-post__title">This Is Second Post For XipBlog</a>
                            <a href="" class="single-recent-post__date">26 September, 2018</a>
                        </div>

                    </div>
                </div>
            </aside>
        </div>
</div>
{% endblock %}