{% extends 'base.html' %}
{% load deals_tags %}

{% block title %}Результат поиска на PriceRace.ru для запроса: {{ q }}{% endblock %}
{% block description %}Результат поиска на PriceRace.ru для запроса: {{ q }}{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-lg-9 order-1 article-section mb-5">
                {% for deal in deals_list %}
                <article class="deal-section my-3">
                    <div class="row my-2">
                        <div class="col-md-4">
                            <div class="product-box__image d-flex align-items-center justify-content-center">
                                {% if deal.image %}
                                    <a href="{{ deal.get_absolute_url }}"><img src="{{ deal.image.url }}" alt="{{ deal.name }}" class="img-fluid deal-image"></a>
                                {% else %}
                                    <a href="{{ deal.get_absolute_url }}"><img src="http://placehold.it/250x250" alt="product image" class="img-fluid"></a>
                                {% endif %}
                            </div>
                            <a href="{{ deal.link_to_shop }}" target="_blank"><button type="button" class="btn btn-outline-own my-2">К скидке <i class="fas fa-external-link-alt"></i></button></a>
                        </div>
                        <div class="col-md-8">
                            <div class="product-box__desc">
                                <div class="d-flex flex-row justify-content-center p-1" >
                            {% with click_counter=deal.like_counter session=request.session.click_deal deal_id=deal.id|stringformat:"i" %}
                                <div class="d-flex justify-content-between">
                                    <button class="btn-like-{{ deal_id }} btn btn-sm btn-minus focus shadow-none dislike" data-id="{{ deal.id }}" {% if request.user in deal.user_like.all or deal_id in session %}disabled{% endif %}><i class="fas fa-minus"></i></button>
                                </div>
                                <div class="d-block w-100 mx-1">
                                    <div class="progress h-100">
                                        <div id="progress-bar-{{ deal_id }}" class="progress-bar" role="progressbar" style="width: {{ click_counter }}0%" aria-valuenow="{{ click_counter }}" aria-valuemin="0" aria-valuemax="10"></div>
                                    </div>
                                </div>
                                    <div class="d-flex justify-content-between">
                                        <button class="btn-like-{{ deal_id }} btn btn-sm btn-plus focus shadow-none like"  data-id="{{ deal.id }}" {% if deal_id in session or request.user in deal.user_like.all %}disabled{% endif %}><i class="fas fa-plus"></i></button>
                                    </div>
                                    <div class="d-flex justify-content-between ml-1 rounded like-counter border">
                                        <span class="mx-1 counter_like_deal_{{ deal_id }}">{{ click_counter }}</span>
                                        <span class="mx-1 like-heart"><i class="fas fa-heartbeat"></i></span>
                                    </div>
                                {% endwith %}
                            </div>
                                <a href="{{ deal.get_absolute_url }}" class="product-box__title ">{{ deal.name }}</a>
                                <div class="mb-2">
                                    <span class="sale-price">{{ deal.price }} <i class="fas fa-ruble-sign"></i></span>
                                    {% if deal.oldprice %}
                                    <span class="regular-price">{{ deal.oldprice }} <i class="fas fa-ruble-sign"></i></span>
                                    {% endif %}
                                    {% if deal.discount_procent %}
                                    <span class="product-box__sticker">{{ deal.discount_procent }}%</span>
                                    {% endif %}
                                    {% if deal.shop %}
                                    <span class="deal-shop">от <a href="{{ deal.shop.get_absolute_url }}" class="text-decoration-none"> {{ deal.shop }}</a></span>
                                    {% endif %}
                                </div>
                                <div class="mb-2 pb-2 border-bottom d-flex">
                                    <span class="author-deal flex-fill"><a href="{{ deal.author.profile.get_absolute_url }}" class="text-decoration-none"> <i class="fas fa-user-edit"></i> {{ deal.author }}</a></span>
                                    <span class="deal-post-date flex-fill"><i class="far fa-calendar-alt"></i> {{ deal.create|date:"d.m.Y (H:i)" }}</span>
                                    <span class="deal-comments ml-3 flex-fill"><a href="{{ deal.get_absolute_url }}#comment-area" class="text-decoration-none"><i class="far fa-comments"></i> ({{ deal.comments.count }})</a></span>
                                </div>
                                <div>
                                    <span></span>
                                </div>
                                <p class="product-box__short-desc">{{ deal.description|safe|truncatechars_html:155|striptags }}</p>
                            </div>
                        </div>
                    </div>
                </article>
                {% endfor %}

                {% include 'includes/pagination.html' %}

            </div>
            <aside class="col-lg-3 order-2">
                <!-- Category -->
                <div class="category-sidebar mb-3">
                    <div class="section-title section-title--3 ">
                        <h3>Категории</h3>
                    </div>
                        <ul class="list-group list-group-flush">
                            {% for category in categories %}
                               <li class="list-group-item sidebar">
                                   <a href="{{ category.get_absolute_url }}" class="text-decoration-none">{{ category.name }}</a>
                               </li>
                            {% endfor %}
                        </ul>
                    </div>
                <!-- Hot Deals -->
                <div class="deals-slide_sidebar mb-3">
                <div class="section-title  mb-2">
                    <h3>Лучшие скидки</h3>
                </div>
                    <div class="sidebar-slider_home">
                        {% show_best_deals  10 %}
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="prev_arrow_home mr-3"><i class="far fa-arrow-alt-circle-down"></i></span>
                        <span class="next_arrow_home ml-3"><i class="far fa-arrow-alt-circle-up"></i></span>
                    </div>
                </div>
                <div class="deals-slide_sidebar mb-3">
                <div class="section-title  mb-2">
                    <h3>Лучшие магазины</h3>
                </div>
                    <div class="sidebar-slider_shops">
                        {% show_favorite_shops 10 %}
                    </div>
                    <div class="d-flex justify-content-center">
                        <span class="prev_arrow_shops mr-3"><i class="far fa-arrow-alt-circle-down"></i></span>
                        <span class="next_arrow_shops ml-3"><i class="far fa-arrow-alt-circle-up"></i></span>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}