{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Вход{% endblock %}

{% block extra_header %}
{% if messages %}
  <ul class="list-unstyled text-center">
    {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">
        {{ message|safe }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row article-section">
<div class="col-md-7 border-right">
<article class="my-3">
      <h1>Добро пожаловать!</h1>
        <p>Воспользуйтесть формой чтобы войти в систему PriceRace.ru</p>
          <div class="login-form">
            <form action="{% url "login" %}" method="post">
            <div class="form-group">
                {{ form.non_field_errors }}
                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}
                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control is-invalid" %}
                              {% for error in form.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}
                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}
              {% csrf_token %}
{#              {% with referer=request.headers.referer %}#}
{#                {% if referer == request.build_absolute_uri %}#}
{#                    <input type="hidden" name="next" value="/" />#}
{#                {% else %}#}
{#                    <input type="hidden" name="next" value="{{ referer }}" />#}
{#                {% endif %}#}
{#              {% endwith %}#}
            <input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />

            </div>
            <p><a href="{% url "password_reset" %}">Забыли свой пароль?</a></p>
              <button type="submit" class="btn btn-own">Вход</button>
            </form>
          </div>
</article>
</div>
<div class="col-md-5">
    <div class="my-3 text-center">
        <h3>Ещё нет аккаунта на PriceRace.ru?</h3>
        <div>
            <img src="{% static 'images/logo.png' %}">
        </div>
        <p class="mt-4">На <strong class="site-name">PriceRace.ru</strong> самые лучшие и независимые скидки.
           Выгодные предложения на любимые бренды.
        </p>
        <p class="my-4">
            Стань частью сообщества, делись скидками и своим мнением в комментариях и экономь на покупках.
        </p>
        <a href="{% url 'register' %}"><button type="submit" class="btn btn-own">Зарегестрироваться</button></a>
    </div>
</div>
</div>
</div>
{% endblock %}
