{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Востановить пароль{% endblock %}

{% block content %}
<div class="container">
<div class="row">
<div class="col article-section">
<article class=" my-3">
<h1>Забыли свой пароль?</h1>
  <p>Введите свой адресс электронной почты, чтобы создать новый пароль.</p>
    <form action="." method="post">
    {% csrf_token %}
        <div class="form-group">
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control w-50 is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control w-50 is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control w-50" %}
                  {% endif %}
                </div>
            {% endfor %}
        </div>
    <button type="submit" class="btn btn-own">Отправить запрос</button>
    </form>
</article>
</div>
</div>
</div>
{% endblock %}