{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Изменить свой пароль{% endblock %}“

{% block content %}
<div class="container">
    <div class="row">
        <div class="col article-section">
            <article class=" my-3 ">
              <h1>Изменить пароль</h1>
              <p>Используйте следующию форму, чтобы изменить свой пароль</p>
                <form action="." method="post">
                  {% csrf_token %}
                    <div class="form-group">
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}
                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control w-50 is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control w-50 is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control w-50" %}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    <h4>Безопасный пароль должен</h4>
                    <ul>
                        <li>Содержать строчные и прописные буквы. </li>
                        <li>Содержать небуквенные символы (т.е. цифры, знаки пунктуации, специальные символы).</li>
                        <li>Быть легко запоминаемы, чтобы не было необходимости записывать их.</li>
                        <li>Быть составлены так, чтобы Вы могли быстро набрать их на клавиатуре. Это осложнит возможность подглядеть пароль. </li>
                    </ul>
                    <button type="submit" class="btn btn-own">Изменить пароль</button>
                  </form>
            </article>
        </div>
    </div>
</div>
{% endblock %}