{% load static %}
{% for shop in favorite_shops %}
<div class="single-recent-post d-flex align-items-center">
    <div class="sidebar-image d-flex align-items-center justify-content-center">
        {% if shop.shop_image %}
            <a href="{{ shop.get_absolute_url }}"><img src="{{ shop.shop_image.url }}" alt="Скидки в {{ shop.name }}" class="img-fluid image-sidebar"></a>
        {% else %}
            <a href="{{ shop.get_absolute_url }}"><img src="{% static 'images/shop.png' %}" alt="Скидки в {{ shop.name }}" class="img-fluid image-sidebar"></a>
        {% endif %}
    </div>
    <div class="single-recent-post__content">
        <a href="{{ shop.get_absolute_url }}" class="single-recent-post__title text-decoration-none text-uppercase">{{ shop.name }}</a>
    </div>
</div>
{% endfor %}