{% if deals_list.has_other_pages %}
<nav aria-label="Page navigation" class="nav d-flex justify-content-center">
  <ul class="pagination justify-content-center flex-wrap">
    {% if deals_list.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-double-left"></i></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ deals_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-left"></i></a></li>
    {% endif %}
    {% for i in deals_list.paginator.page_range %}

      {% if deals_list.number == i %}
        <li class="page-item active" aria-current="page">
        <a class="page-link">{{ i }}</a>
        </li>
      {% elif i|add:"-4" <= deals_list.number and deals_list.number <= i|add:"3" %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if deals_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ deals_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-right"></i></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ deals_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-double-right"></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}